<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Mike Zinyoni @aone software systems">
        <title>{% block title %}{{company.name}} | Site{% endblock title %}</title>
        {% block meta %}
          
        {% endblock meta %}

        <!-- Bootstrap core CSS -->
        <link href="{% static 'app/lib/bootstrap5/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'app/lib/mdb-bootstrap-5/css/mdb.min.css' %}" rel="stylesheet">
        <link href="{% static 'app/lib/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'app/lib/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        <!--Header-->
        {% include "app/navbar.html" %}
        <main>
            {% block body %}
            
            {% endblock body %}
        </main>

        <!--Back to top-->
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bx bx-up-arrow"></i>
        </a>
        <form class="d-none" id="information-form">
            <input type="number" name="current-user-id" id="current-user-id" value="{{request.user.pk}}">
            <input type="number" name="active-cart-id" id="active-cart-id" value="{{request.user.active_cart.pk}}">
            <input type="text" name="current-user-name" id="current-user-name" value="{{request.user.username}}">
            <input type="text" name="active-cart-name" id="active-cart-name" value="{{request.user.active_cart.name}}">
        </form>
        {% include "app/snackbar.html" %}
        <!--Pre loader-->
        <div id="preloader"></div>
        <!--JS static files-->
        <script src="{% static 'app/lib/bootstrap5/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'app/lib/mdb-bootstrap-5/js/mdb.min.js' %}"></script>
        <script src="{% static 'app/lib/swiper/swiper-bundle.min.js' %}"></script>
        
        <script src="{% static 'app/js/ajax.js' %}"></script>
        <script src="{% static 'app/js/zoom-image.js' %}"></script>
        <script src="{% static 'app/js/send-email.js' %}"></script>
        <script src="{% static 'app/js/main.js' %}"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
