{% extends 'app/layout.html' %}
{% block title %}
Medi Plus | Products
{% endblock title %}
{% block body %}
<section id="products" class="products py-1 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-12 filter-form-container">
                <form action="/products/" method="get" id="filter-products-form">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 mb-2">
                                <div class="form-floating">
                                    <select name="brand__name" id="brand-name" value="" class="form-control form-select" placeholder="brand name">
                                        <option value="">All</option>
                                        {% for brand in company.brands %}
                                        <option value="{{brand.name}}">{{brand.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="brand-name">Brand</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 mb-2">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="name__icontains" id="product-name" placeholder="name" />
                                    <label for="product-name">Name</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 mb-2">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="description__icontains" id="product-description" placeholder="description" />
                                    <label for="product-description">Description</label>
                                </div>
                            </div>
                            <!--
                            <div class="col-sm-12 mb-2">
                                <div class="form-floating">
                                    <select name="category__in" id="category-name" class="form-control form-select" style="height: 8rem;" placeholder="category name" multiple="multiple">
                                        <option value="">All</option>
                                        {% for category in company.categories %}
                                        <option value="{{category.pk}}">{{category.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="category-name">Category</label>
                                </div>
                            </div>
                            -->
                            <div class="col-lg-12 col-md-2 col-sm-6 mb-2">
                                <div class="form-floating">
                                    <input type="number" name="price__gte" id="min-price" class="form-control" value="0" min="0" placeholder="0.00" />
                                    <label for="min-price">Min Price</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-2 col-sm-6 mb-2">
                                <div class="form-floating">
                                    <input type="number" name="price__lte" id="max-price" class="form-control" value="0" min="0" placeholder="0.00" />
                                    <label for="max-price">Min Price</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-2 col-sm-6 mb-2">
                                <label for="per-page" class="form-label">Per Page</label>
                                <input type="range" id="per-page" name="per_page" class="form-range" value="20" min="10" max="100" step="5" />
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <button class="btn btn-success mx-auto" type="submit">Filter <i class="bx bx-filter"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        <div class="col-lg-10 col-md-12">
            <div class="container-fluid">
                <div class="row">
                    {% for product in page %} 
                        <div class="col-lg-4 col-md-6 my-2">
                            <div class="card product" product-name="{{product.name}}" product-id="{{product.id}}" product-selling-price="{{product.selling_price}}" product-quantity="{{product.quantity}}" style="width: 18rem;">
                                <img src="{% firstof product.image '/static/app/img/pillsn3.jpeg' %}" class="card-img-top" style="height: 15rem;" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/product/{{product.pk}}">{{product.name}} at <i class="bx bx-dollar"></i>{{product.price}}</a>
                                    </h5>
                                    <h6 class="card-title">by {{product.brand}} in {% for category in product.categories %}{{category}}{% endfor %}</h6>
                                    <p class="card-text">{{ product.description |truncatewords:5 }}</p>
                                    <div class="card-actions d-inline-flex justify-content-evenly align-content-around w-100">
                                        <a href="/product/{{product.pk}}" class="btn btn-secondary">View</a>
                                        {% if request.user.is_authenticated %}
                                        <form action="/api/watches_api_view/data/" method="post" class="add-watch-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="product" value="{{product.id}}">
                                            <input type="hidden" name="user" value="{{request.user.id}}">
                                            <button type="submit" class="btn fab"><i class="bx bxs-eyedropper"></i></button>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-footer">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.active_cart %}
                                        <form action="/api/cart_items_api_view/full_data/" method="post" class="add-cart-item-form">
                                            {% csrf_token %}
                                            <input type="hidden" value="0" name="quantity" class="quantity-input" max="{{product.quantity}}">
                                            <input type="hidden" name="cart" class="cart-input" value="{{request.user.active_cart.pk}}">
                                            <input type="hidden" name="product" class="product-input" value="{{product.id}}">
                                            <span class="dynamic-info">
                                                <span class="badge bg-dark">
                                                    <i class="bx bx-x"></i><span class="product-quantity">0</span>
                                                </span>
                                                <span class="badge bg-dark">
                                                    <i class="bx bx-dollar"></i>
                                                    <span class="total">0</span>
                                                </span>
                                            </span>
                                            <span class="btn btn-success fab increment"><i class="bx bx-plus"></i></span>
                                            <span class="btn btn-danger fab decrement"><i class="bx bx-minus"></i></span>
                                            <button type="submit" class="btn btn-primary btn-sm">Add</button>
                                        </form>
                                    {% else %}
                                        <a href="/account/carts/create" class="btn btn-primary">Create Cart</a>
                                    {% endif %}
                                {% else %}
                                <a href="/login" class="btn w-100 btn-primary">Login & Create Cart</a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </div>

    </div>
</section>

{% endblock body %}