<div class="snackbar fixed-bottom mx-auto fade show">
    <div class="alert alert-dismissible alert-info" role="alert">
        <!--
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        -->
        <p class="snackbar-message">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, quo?</p>
        <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
</div>
<style>
    .snackbar {
        width: 80%;
        visibility: hidden;
    }
</style>
<script>
    (() => {
        let $snackbar = document.querySelector(".snackbar")
        let $alert = $snackbar.querySelector(".alert")
        let $snackbarMessage = $alert.querySelector(".snackbar-message")
        $snackbar.querySelector("button").addEventListener("click", () => {
            $snackbar.querySelector(".snackbar-message").innerHTML = ''
            $snackbar.style.visibility = "hidden"
        })

        const showSnackbar = (message, _class="info") => {
            $alert.classList.replace($alert.classList[2], `alert-${_class}`)
            $snackbarMessage.innerHTML = `${$snackbarMessage.innerHTML}` + message
            $snackbar.style.visibility = "visible"
        }
        document.querySelector("#header").addEventListener("click", ()=>{
            showSnackbar("<p>hello world i am mike</p>", "danger")
        })
    })()
</script>